`timescale 1ns / 1ps

module tb_rtl_timer_counter ();

    logic        clk;
    logic        rst_n;
    logic        cnt_en;
    logic        intr_en;
    logic [31:0] psc;
    logic [31:0] arr;
    logic        intr;
    logic        cnt_valid;
    logic [31:0] i_cnt;
    logic [31:0] o_cnt;

    TimerCounter dut (.*);

    initial clk = 0;
    always #5 clk = ~clk;

    task automatic TIM_SetPSC(logic [31:0] prescale);
        psc <= prescale;

    endtask  //automati

    task automatic TIM_SetARR(logic [31:0] autoReoload);
        arr <= autoReoload;
    endtask  //automati

    task automatic TIM_EnTimer();
        cnt_en <= 1'b1;
    endtask  //automati

    task automatic TIM_DisTimer();
        cnt_en <= 1'b0;
    endtask  //automati

    task automatic TIM_EnIntr();
        intr_en <= 1'b1;
    endtask  //automati

    task automatic TIM_DisIntr();
        intr_en <= 1'b0;
    endtask  //automati

    task automatic TIM_SetCNT(logic [31:0] CNT);
        i_cnt = CNT;
        cnt_valid = 1'b1;
        @(posedge clk);
        cnt_valid <= 1'b0;
    endtask

    initial begin
        rst_n = 0;
        cnt_en = 0;
        intr_en = 0;
        i_cnt = 0;
        cnt_valid = 0;
        arr = 0;
        psc = 0;
        repeat (3) @(posedge clk);
        rst_n = 1;
        @(posedge clk);

        TIM_SetPSC(100 - 1);  // 
        TIM_SetARR(1000 - 1);  // 
        TIM_DisIntr();
        TIM_EnTimer();
        wait (o_cnt == 999);
        @(posedge clk);
        wait (o_cnt == 0);
        @(posedge clk);
        TIM_EnIntr();
        wait (o_cnt == 999);
        @(posedge clk);
        wait (o_cnt == 100);
        @(posedge clk);
        TIM_SetCNT(10);
        wait (o_cnt == 0);
        @(posedge clk);
        //TIM_DisTimer();

        #10000;
        $finish;
    end
endmodule
